header h1 img{width: 15px}

body {
	background: url(../images/tennis-ball-background.png);
	color: gold ;
	font-size: 20px;
		}


<style type="text/css" media="screen"> body {
    background-color: #000000;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right bottom;
}

</style> #map {
    height: 50%;
}

#addressInputHolder {
    position: relative!important;
}

#addressInputHolder input {
    width: 400px!important;
}

#addressInput {
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#addressInput:focus {
    border-color: #4d90fe;
}